name: Rust

on:
  push:
    branches: ["main", "dev"]
  pull_request:
    branches: ["main", "dev"]

env:
  CARGO_TERM_COLOR: always
  RPC_URL: ${{ vars.RPC_URL }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Build
        run: cargo build --verbose

      - name: Test
        run: cargo test --verbose
