name: Rust

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

env:
  CARGO_TERM_COLOR: always
  RPC_URL: ${{ vars.RPC_URL }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: cargo fmt --check
        run: cargo fmt --all -- --check

      - name: cargo clippy (deny warnings)
        run: cargo clippy --all-targets --all-features -- -D warnings

      - name: cargo check (all targets)
        run: cargo check --all-targets --all-features

      - name: cargo test (all targets)
        run: cargo test
